body {
  /* background-image: url("../images/friends-background.png"); */

  /* background-image: url("../images/ny-background.jpg"); */
  background-image: url("../images/ny-blackwhite-background.jpg")
}

.background-container {
  border: 7px double #0fb9fc;
    margin-left: 21.5%;
    margin-top:0%;
    height:725px;
    width:55%;
    background-color:rgb(60, 94, 138);

}

#stat-screen {
  margin-top:5%;
  color:white;

}

.header-container {
    font-size:30px;
    text-align:center;
    background-color:rgb(98, 157, 235);
    

    width:50%;
    margin-left:24%;
    margin-top:2%; 
   
}
.image-display {
  width:500px;
  height:300px;
  margin-top:5%;
  margin-left:0%;
}
#header {
  background-color:rgb(60, 94, 138);
  font-family: 'Oswald', sans-serif;
  border: 3px double #0fb9fc;

  /* border-top: 3px solid #0fb9fc;
    border-left: 3px solid #0fb9fc; */
}

#fontText{
  font-size:75px;
  text-shadow: 3px 3px #0fb9fc;

}

#timeRemainingCounter {
  font-size:35px;
}
#questions span {
  font-size:35px;
}

#answers .answerButton {
  margin-left:-8%;
  width:100%;
  margin-bottom:1%;
}


.body-container {
    background-color:rgb(60, 94, 138);
    border: 7px double white;
  color:white;
    height:99%;
    width:100%;
    margin-left:0%;
    margin-top:0%;
}

#time-remaining,
#questions,
#answers {
    padding:5%;
    margin-left:15%;
    font-size:25px;
}

/* #main-picture {
  text-shadow: 3px 3px #0fb9fc;
    /* margin-top:5%; */
    
 

#start-timer {
    margin-left:39%;
    margin-top:2%;
}

#picture-border {
  border: 7px double #0fb9fc;
height:30%;
width:60%;
margin-left:20%;
margin-top:3%;
}

.start-paragraph {
  border: 5px solid #0fb9fc; 
  border-style: ridge;
  font-family: 'Oswald', sans-serif;
  margin-left:20%;
  height:50%;
  margin-top:3%;
  background-color:#0a6e96;
  font-size:16px;
  color:white;

  width:60%;

}

#correctP,
#incorrectP {
  color:white;
  margin-left:23%;
}















button:hover{
  background:white;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
button{
  background:#0a6e96;
    font-family: 'Oswald', sans-serif;
    border:none;
    color:white;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  

